<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Document</title>
</head>

<body class="container">
    <div class="box">
        <h1>Brands</h1>
        <form method="post">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Brand name" name="brandName">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button type="submit" class="button is-success">
                        Create
                    </button>
                </p>
            </div>
        </form>
    </div>
    <div class="box">
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Brand name</th>
                    <th>Create at</th>
                    <th>Update at</th>
                </tr>
            </thead>
            <tbody>
                <% brands.forEach((brand, index)=> { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= brand.brandName %>
                        </td>
                        <td>
                            <%= brand.createdAt %>
                        </td>
                        <td>
                            <%= brand.updatedAt %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>